* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  width: 50rem;
  height: 10rem;
  background-color: #cbcccc;
  border-color: black;
  border-radius: 1rem;
  margin: auto;
}

.home h1 {
  padding: 5rem;
}
